@model IEnumerable<ProgettoTSWI.Models.Event>
@{
    ViewData["Title"] = "Eventi Approvati";
}

@using System.Security.Claims
@{

    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

}

<div class="login-background">
    <div class="login-card p-4 rounded shadow">

<h2 class="text-center mb-4">Eventi approvati</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Luogo</th>
            <th>Prezzo</th>
            <th>Organizzatore</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var ev in Model)
    {
        <tr>
            <td>@ev.EventName</td>
            <td>@ev.EventDate.ToShortDateString()</td>
            <td>@ev.EventLocation</td>
            <td>@(ev.EventPrice.HasValue ? ev.EventPrice.Value.ToString("C") : "Gratis")</td>
            <td>@(ev.Organizer?.Name ?? "N/D")</td>
            <td>

            @if(User.Identity.IsAuthenticated)
            {
                var partecipazione = ev.Participations?.FirstOrDefault(p => p.ParticipationUserId.ToString() == userId);


            

            <!-- Qui analizzo partecipazione, se partecipazione non è nulla allora form eseguira Join -->
            <form asp-controller="Event" asp-action="@(partecipazione == null ? "Join" : "Leave")" method="post">
                    <input type="hidden" name="id" value="@ev.EventId" />
                    
                    <!--Qua stessa dinamica della riga sopra solo con il modo in cui appare il bottone -->
                    <button type="submit" class="btn btn-sm @(partecipazione == null ? "btn-success" : "btn-danger")">
                        @(partecipazione == null ? "Partecipa" : "Non partecipo più")
                    </button>
            </form>


            <!--Questo bottone compare nel momento in cui io partecipo altrimenti non c'è-->
           @if(partecipazione != null){
                 <a class="btn btn-primary btn-sm mt-2" asp-controller="Event" asp-action="Review" asp-route-id="@ev.EventId">
                        Recensisci
                    </a>
                }
           }
           else
           {
                <p><em>Effettua il login per partecipare</em></p>
           }
                
        </tr>
    }
    </tbody>
</table>

</div>
</div>